<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category	Oceanpayment
 * @package 	Oceanpayment_Giropay
 */
-->
<config>
    <modules>
        <Oceanpayment_OPGiropay>
            <version>1.7.1</version>
        </Oceanpayment_OPGiropay>
    </modules>
    <global>
		  <helpers>
		  	   <opgiropay>
		  	   	   <class>Oceanpayment_OPGiropay_Helper</class>
		  	   </opgiropay>
		  </helpers>	
        <models>
            <opgiropay>
                <class>Oceanpayment_OPGiropay_Model</class>
                <resourceModel>opgiropay_mysql4</resourceModel>
            </opgiropay>
            <opgiropay_mysql4>
                <class>Oceanpayment_OPGiropay_Model_Mysql4</class>
                <entities>
                    <api_debug><table>opgiropay_api_debug</table></api_debug>
                </entities>
            </opgiropay_mysql4>
        </models>
        <resources>
            <opgiropay_setup>
                <setup>
                    <module>Oceanpayment_OPGiropay</module>
                    <class>Oceanpayment_OPGiropay_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </opgiropay_setup>
            <opgiropay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </opgiropay_write>
            <opgiropay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </opgiropay_read>
        </resources>
        <blocks>
            <opgiropay><class>Oceanpayment_OPGiropay_Block</class></opgiropay>
    	</blocks>
        <payment>
            <opgiropay_payment>
                <languages>
                    <FR>
                        <code>FR</code>
                        <name>Français</name>
                    </FR>
                    <EN>
                        <code>EN</code>
                        <name>Anglais</name>
                    </EN>
                    <ES>
                        <code>ES</code>
                        <name>Espagnol</name>
                    </ES>
                    <DE>
                        <code>DE</code>
                        <name>Allemand</name>
                    </DE>
                    <IT>
                        <code>IT</code>
                        <name>Italien</name>
                    </IT>
                    <NL>
                        <code>NL</code>
                        <name>Néerlandais</name>
                    </NL>
                </languages>
            </opgiropay_payment>
        </payment>
    </global>
    <frontend>
        <secure_url>
            <opgiropay_payment>/opgiropay/payment</opgiropay_payment>
        </secure_url>
        <routers>
            <opgiropay>
                <use>standard</use>
                <args>
                    <module>Oceanpayment_OPGiropay</module>
                    <frontName>opgiropay</frontName>
                </args>
            </opgiropay>
        </routers>
        <translate>
            <modules>
                <Oceanpayment_OPGiropay>
                    <files>
                        <default>Oceanpayment_OPGiropay.csv</default>
                    </files>
                </Oceanpayment_OPGiropay>
            </modules>
        </translate>
        <layout>
            <updates>
                <opgiropay>
                    <file>opgiropay.xml</file>
                </opgiropay>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Oceanpayment_OPGiropay>
                    <files>
                        <default>Oceanpayment_OPGiropay.csv</default>
                    </files>
                </Oceanpayment_OPGiropay>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <oceanpayment_giropay>
                  <model>opgiropay/payment</model>
                  <title>Giropay</title>
                  <allowspecific>0</allowspecific>
                  <transaction_type>0</transaction_type>
            </oceanpayment_giropay>
        </payment>
    </default>
</config>
