<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category	Oceanpayment
 * @package 	Oceanpayment_Przelewy24
 */
-->
<config>
    <modules>
        <Oceanpayment_OPPrzelewy24>
            <version>1.7.1</version>
        </Oceanpayment_OPPrzelewy24>
    </modules>
    <global>
		  <helpers>
		  	   <opprzelewy24>
		  	   	   <class>Oceanpayment_OPPrzelewy24_Helper</class>
		  	   </opprzelewy24>
		  </helpers>	
        <models>
            <opprzelewy24>
                <class>Oceanpayment_OPPrzelewy24_Model</class>
                <resourceModel>opprzelewy24_mysql4</resourceModel>
            </opprzelewy24>
            <opprzelewy24_mysql4>
                <class>Oceanpayment_OPPrzelewy24_Model_Mysql4</class>
                <entities>
                    <api_debug><table>opprzelewy24_api_debug</table></api_debug>
                </entities>
            </opprzelewy24_mysql4>
        </models>
        <resources>
            <opprzelewy24_setup>
                <setup>
                    <module>Oceanpayment_OPPrzelewy24</module>
                    <class>Oceanpayment_OPPrzelewy24_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </opprzelewy24_setup>
            <opprzelewy24_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </opprzelewy24_write>
            <opprzelewy24_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </opprzelewy24_read>
        </resources>
        <blocks>
            <opprzelewy24><class>Oceanpayment_OPPrzelewy24_Block</class></opprzelewy24>
    	</blocks>
        <payment>
            <opprzelewy24_payment>
                <languages>
                    <FR>
                        <code>FR</code>
                        <name>Français</name>
                    </FR>
                    <EN>
                        <code>EN</code>
                        <name>Anglais</name>
                    </EN>
                    <ES>
                        <code>ES</code>
                        <name>Espagnol</name>
                    </ES>
                    <DE>
                        <code>DE</code>
                        <name>Allemand</name>
                    </DE>
                    <IT>
                        <code>IT</code>
                        <name>Italien</name>
                    </IT>
                    <NL>
                        <code>NL</code>
                        <name>Néerlandais</name>
                    </NL>
                </languages>
            </opprzelewy24_payment>
        </payment>
    </global>
    <frontend>
        <secure_url>
            <opprzelewy24_payment>/opprzelewy24/payment</opprzelewy24_payment>
        </secure_url>
        <routers>
            <opprzelewy24>
                <use>standard</use>
                <args>
                    <module>Oceanpayment_OPPrzelewy24</module>
                    <frontName>opprzelewy24</frontName>
                </args>
            </opprzelewy24>
        </routers>
        <translate>
            <modules>
                <Oceanpayment_OPPrzelewy24>
                    <files>
                        <default>Oceanpayment_OPPrzelewy24.csv</default>
                    </files>
                </Oceanpayment_OPPrzelewy24>
            </modules>
        </translate>
        <layout>
            <updates>
                <opprzelewy24>
                    <file>opprzelewy24.xml</file>
                </opprzelewy24>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Oceanpayment_OPPrzelewy24>
                    <files>
                        <default>Oceanpayment_OPPrzelewy24.csv</default>
                    </files>
                </Oceanpayment_OPPrzelewy24>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <oceanpayment_przelewy24>
                  <model>opprzelewy24/payment</model>
                  <title>Przelewy24</title>
                  <allowspecific>0</allowspecific>
                  <transaction_type>0</transaction_type>
            </oceanpayment_przelewy24>
        </payment>
    </default>
</config>
