<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category	Oceampayment
 * @package 	Oceanpayment_WX
 */
-->
<config>
    <modules>
        <Oceanpayment_OPWX>
            <version>1.6.0</version>
        </Oceanpayment_OPWX>
    </modules>
    <global>
		  <helpers>
		  	   <opwx>
		  	   	   <class>Oceanpayment_OPWX_Helper</class>
		  	   </opwx>
		  </helpers>	
        <models>
            <opwx>
                <class>Oceanpayment_OPWX_Model</class>
                <resourceModel>opwx_mysql4</resourceModel>
            </opwx>
            <opwx_mysql4>
                <class>Oceanpayment_OPWX_Model_Mysql4</class>
                <entities>
                    <api_debug><table>opwx_api_debug</table></api_debug>
                </entities>
            </opwx_mysql4>
        </models>
        <resources>
            <opwx_setup>
                <setup>
                    <module>Oceanpayment_OPWX</module>
                    <class>Oceanpayment_OPWX_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </opwx_setup>
            <opwx_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </opwx_write>
            <opwx_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </opwx_read>
        </resources>
        <blocks>
            <opwx><class>Oceanpayment_OPWX_Block</class></opwx>
    	</blocks>
        <payment>
            <opwx_payment>
                <languages>
                    <FR>
                        <code>FR</code>
                        <name>Français</name>
                    </FR>
                    <EN>
                        <code>EN</code>
                        <name>Anglais</name>
                    </EN>
                    <ES>
                        <code>ES</code>
                        <name>Espagnol</name>
                    </ES>
                    <DE>
                        <code>DE</code>
                        <name>Allemand</name>
                    </DE>
                    <IT>
                        <code>IT</code>
                        <name>Italien</name>
                    </IT>
                    <NL>
                        <code>NL</code>
                        <name>Néerlandais</name>
                    </NL>
                </languages>
            </opwx_payment>
        </payment>
    </global>
    <frontend>
        <secure_url>
            <opwx_payment>/opwx/payment</opwx_payment>
        </secure_url>
        <routers>
            <opwx>
                <use>standard</use>
                <args>
                    <module>Oceanpayment_OPWX</module>
                    <frontName>opwx</frontName>
                </args>
            </opwx>
        </routers>
        <translate>
            <modules>
                <Oceanpayment_OPWX>
                    <files>
                        <default>Oceanpayment_OPWX.csv</default>
                    </files>
                </Oceanpayment_OPWX>
            </modules>
        </translate>
        <layout>
            <updates>
                <opwx>
                    <file>opwx.xml</file>
                </opwx>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Oceanpayment_OPWX>
                    <files>
                        <default>Oceanpayment_OPWX.csv</default>
                    </files>
                </Oceanpayment_OPWX>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <oceanpayment_wx>
                  <model>opwx/payment</model>
                  <title>WX</title>
                  <allowspecific>0</allowspecific>
                  <transaction_type>0</transaction_type>
            </oceanpayment_wx>
        </payment>
    </default>
</config>
