<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category	Oceampayment
 * @package 	Oceanpayment_CreditCard
 * @copyright	Copyright (c) 2009 Oceanpayment,LLC. (http://www.oceampayment.com)
 */
-->
<config>
    <modules>
        <Oceanpayment_OPCreditCard>
            <version>1.9.2</version>
        </Oceanpayment_OPCreditCard>
    </modules>
    <global>
		  <helpers>
		  	   <opcreditcard>
		  	   	   <class>Oceanpayment_OPCreditCard_Helper</class>
		  	   </opcreditcard>
		  </helpers>	
        <models>
            <opcreditcard>
                <class>Oceanpayment_OPCreditCard_Model</class>
                <resourceModel>opcreditcard_mysql4</resourceModel>
            </opcreditcard>
            <opcreditcard_mysql4>
                <class>Oceanpayment_OPCreditCard_Model_Mysql4</class>
                <entities>
                    <api_debug><table>opcreditcard_api_debug</table></api_debug>
                </entities>
            </opcreditcard_mysql4>
        </models>
        <resources>
            <opcreditcard_setup>
                <setup>
                    <module>Oceanpayment_OPCreditCard</module>
                    <class>Oceanpayment_OPCreditCard_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </opcreditcard_setup>
            <opcreditcard_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </opcreditcard_write>
            <opcreditcard_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </opcreditcard_read>
        </resources>
        <blocks>
            <opcreditcard><class>Oceanpayment_OPCreditCard_Block</class></opcreditcard>
    	</blocks>
        <payment>
            <opcreditcard_payment>
                <languages>
                    <FR>
                        <code>FR</code>
                        <name>Français</name>
                    </FR>
                    <EN>
                        <code>EN</code>
                        <name>Anglais</name>
                    </EN>
                    <ES>
                        <code>ES</code>
                        <name>Espagnol</name>
                    </ES>
                    <DE>
                        <code>DE</code>
                        <name>Allemand</name>
                    </DE>
                    <IT>
                        <code>IT</code>
                        <name>Italien</name>
                    </IT>
                    <NL>
                        <code>NL</code>
                        <name>Néerlandais</name>
                    </NL>
                </languages>
            </opcreditcard_payment>
        </payment>
    </global>
    <frontend>
        <secure_url>
            <opcreditcard_payment>/opcreditcard/payment</opcreditcard_payment>
        </secure_url>
        <routers>
            <opcreditcard>
                <use>standard</use>
                <args>
                    <module>Oceanpayment_OPCreditCard</module>
                    <frontName>opcreditcard</frontName>
                </args>
            </opcreditcard>
        </routers>
        <translate>
            <modules>
                <Oceanpayment_OPCreditCard>
                    <files>
                        <default>Oceanpayment_OPCreditCard.csv</default>
                    </files>
                </Oceanpayment_OPCreditCard>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Oceanpayment_OPCreditCard>
                    <files>
                        <default>Oceanpayment_OPCreditCard.csv</default>
                    </files>
                </Oceanpayment_OPCreditCard>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <oceanpayment_creditcard>
                  <model>opcreditcard/payment</model>
                  <title>Credit or Debit Card</title>
                  <allowspecific>0</allowspecific>
                  <transaction_type>0</transaction_type>
                  <order_status>pending</order_status>
                  <order_status_payment_accepted>processing</order_status_payment_accepted>
                  <order_status_payment_refused>pending</order_status_payment_refused>
                  <order_status_payment_pending>processing</order_status_payment_pending>
                  <order_status_payment_risk>pending</order_status_payment_risk>
                  <iframe_height>800</iframe_height>
                  <send_email>1</send_email>
                  <automatic_invoice>1</automatic_invoice>
            </oceanpayment_creditcard>
        </payment>
    </default>
</config>
