<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category	Oceanpayment
 * @package 	Oceanpayment_iDEAL
 */
-->
<config>
    <modules>
        <Oceanpayment_OPiDEAL>
            <version>1.7.1</version>
        </Oceanpayment_OPiDEAL>
    </modules>
    <global>
		  <helpers>
		  	   <opideal>
		  	   	   <class>Oceanpayment_OPiDEAL_Helper</class>
		  	   </opideal>
		  </helpers>	
        <models>
            <opideal>
                <class>Oceanpayment_OPiDEAL_Model</class>
                <resourceModel>opideal_mysql4</resourceModel>
            </opideal>
            <opideal_mysql4>
                <class>Oceanpayment_OPiDEAL_Model_Mysql4</class>
                <entities>
                    <api_debug><table>opideal_api_debug</table></api_debug>
                </entities>
            </opideal_mysql4>
        </models>
        <resources>
            <opideal_setup>
                <setup>
                    <module>Oceanpayment_OPiDEAL</module>
                    <class>Oceanpayment_OPiDEAL_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </opideal_setup>
            <opideal_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </opideal_write>
            <opideal_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </opideal_read>
        </resources>
        <blocks>
            <opideal><class>Oceanpayment_OPiDEAL_Block</class></opideal>
    	</blocks>
        <payment>
            <opideal_payment>
                <languages>
                    <FR>
                        <code>FR</code>
                        <name>Français</name>
                    </FR>
                    <EN>
                        <code>EN</code>
                        <name>Anglais</name>
                    </EN>
                    <ES>
                        <code>ES</code>
                        <name>Espagnol</name>
                    </ES>
                    <DE>
                        <code>DE</code>
                        <name>Allemand</name>
                    </DE>
                    <IT>
                        <code>IT</code>
                        <name>Italien</name>
                    </IT>
                    <NL>
                        <code>NL</code>
                        <name>Néerlandais</name>
                    </NL>
                </languages>
            </opideal_payment>
        </payment>
    </global>
    <frontend>
        <secure_url>
            <opideal_payment>/opideal/payment</opideal_payment>
        </secure_url>
        <routers>
            <opideal>
                <use>standard</use>
                <args>
                    <module>Oceanpayment_OPiDEAL</module>
                    <frontName>opideal</frontName>
                </args>
            </opideal>
        </routers>
        <translate>
            <modules>
                <Oceanpayment_OPiDEAL>
                    <files>
                        <default>Oceanpayment_OPiDEAL.csv</default>
                    </files>
                </Oceanpayment_OPiDEAL>
            </modules>
        </translate>
        <layout>
            <updates>
                <opideal>
                    <file>opideal.xml</file>
                </opideal>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Oceanpayment_OPiDEAL>
                    <files>
                        <default>Oceanpayment_OPiDEAL.csv</default>
                    </files>
                </Oceanpayment_OPiDEAL>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <oceanpayment_ideal>
                  <model>opideal/payment</model>
                  <title>iDEAL</title>
                  <allowspecific>0</allowspecific>
                  <transaction_type>0</transaction_type>
            </oceanpayment_ideal>
        </payment>
    </default>
</config>
