<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category	Oceampayment
 * @package 	Oceanpayment_FPS
 * @copyright	Copyright (c) 2009 Oceanpayment,LLC. (http://www.oceampayment.com)
 */
-->
<config>
    <modules>
        <Oceanpayment_OPFPS>
            <version>1.9.2</version>
        </Oceanpayment_OPFPS>
    </modules>
    <global>
		  <helpers>
		  	   <opfps>
		  	   	   <class>Oceanpayment_OPFPS_Helper</class>
		  	   </opfps>
		  </helpers>	
        <models>
            <opfps>
                <class>Oceanpayment_OPFPS_Model</class>
                <resourceModel>opfps_mysql4</resourceModel>
            </opfps>
            <opfps_mysql4>
                <class>Oceanpayment_OPFPS_Model_Mysql4</class>
                <entities>
                    <api_debug><table>opfps_api_debug</table></api_debug>
                </entities>
            </opfps_mysql4>
        </models>
        <resources>
            <opfps_setup>
                <setup>
                    <module>Oceanpayment_OPFPS</module>
                    <class>Oceanpayment_OPFPS_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </opfps_setup>
            <opfps_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </opfps_write>
            <opfps_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </opfps_read>
        </resources>
        <blocks>
            <opfps><class>Oceanpayment_OPFPS_Block</class></opfps>
    	</blocks>
        <payment>
            <opfps_payment>
                <languages>
                    <FR>
                        <code>FR</code>
                        <name>Français</name>
                    </FR>
                    <EN>
                        <code>EN</code>
                        <name>Anglais</name>
                    </EN>
                    <ES>
                        <code>ES</code>
                        <name>Espagnol</name>
                    </ES>
                    <DE>
                        <code>DE</code>
                        <name>Allemand</name>
                    </DE>
                    <IT>
                        <code>IT</code>
                        <name>Italien</name>
                    </IT>
                    <NL>
                        <code>NL</code>
                        <name>Néerlandais</name>
                    </NL>
                </languages>
            </opfps_payment>
        </payment>
    </global>
    <frontend>
        <secure_url>
            <opfps_payment>/opfps/payment</opfps_payment>
        </secure_url>
        <routers>
            <opfps>
                <use>standard</use>
                <args>
                    <module>Oceanpayment_OPFPS</module>
                    <frontName>opfps</frontName>
                </args>
            </opfps>
        </routers>
        <translate>
            <modules>
                <Oceanpayment_OPFPS>
                    <files>
                        <default>Oceanpayment_OPFPS.csv</default>
                    </files>
                </Oceanpayment_OPFPS>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Oceanpayment_OPFPS>
                    <files>
                        <default>Oceanpayment_OPFPS.csv</default>
                    </files>
                </Oceanpayment_OPFPS>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <oceanpayment_fps>
                  <model>opfps/payment</model>
                  <title>Credit or Debit Card</title>
                  <allowspecific>0</allowspecific>
                  <transaction_type>0</transaction_type>
                  <order_status>pending</order_status>
                  <order_status_payment_accepted>processing</order_status_payment_accepted>
                  <order_status_payment_refused>pending</order_status_payment_refused>
                  <order_status_payment_pending>processing</order_status_payment_pending>
                  <order_status_payment_risk>pending</order_status_payment_risk>
                  <iframe_height>800</iframe_height>
                  <send_email>1</send_email>
                  <automatic_invoice>1</automatic_invoice>
            </oceanpayment_fps>
        </payment>
    </default>
</config>
