<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category	Oceampayment
 * @package 	Oceanpayment_Boleto
 */
-->
<config>
    <modules>
        <Oceanpayment_OPBoleto>
            <version>1.6.0</version>
        </Oceanpayment_OPBoleto>
    </modules>
    <global>
		  <helpers>
		  	   <opboleto>
		  	   	   <class>Oceanpayment_OPBoleto_Helper</class>
		  	   </opboleto>
		  </helpers>	
        <models>
            <opboleto>
                <class>Oceanpayment_OPBoleto_Model</class>
                <resourceModel>opboleto_mysql4</resourceModel>
            </opboleto>
            <opboleto_mysql4>
                <class>Oceanpayment_OPBoleto_Model_Mysql4</class>
                <entities>
                    <api_debug><table>opboleto_api_debug</table></api_debug>
                </entities>
            </opboleto_mysql4>
        </models>
        <resources>
            <opboleto_setup>
                <setup>
                    <module>Oceanpayment_OPBoleto</module>
                    <class>Oceanpayment_OPBoleto_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </opboleto_setup>
            <opboleto_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </opboleto_write>
            <opboleto_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </opboleto_read>
        </resources>
        <blocks>
            <opboleto><class>Oceanpayment_OPBoleto_Block</class></opboleto>
    	</blocks>
        <payment>
            <opboleto_payment>
                <languages>
                    <FR>
                        <code>FR</code>
                        <name>Français</name>
                    </FR>
                    <EN>
                        <code>EN</code>
                        <name>Anglais</name>
                    </EN>
                    <ES>
                        <code>ES</code>
                        <name>Espagnol</name>
                    </ES>
                    <DE>
                        <code>DE</code>
                        <name>Allemand</name>
                    </DE>
                    <IT>
                        <code>IT</code>
                        <name>Italien</name>
                    </IT>
                    <NL>
                        <code>NL</code>
                        <name>Néerlandais</name>
                    </NL>
                </languages>
            </opboleto_payment>
        </payment>
    </global>
    <frontend>
        <secure_url>
            <opboleto_payment>/opboleto/payment</opboleto_payment>
        </secure_url>
        <routers>
            <opboleto>
                <use>standard</use>
                <args>
                    <module>Oceanpayment_OPBoleto</module>
                    <frontName>opboleto</frontName>
                </args>
            </opboleto>
        </routers>
        <translate>
            <modules>
                <Oceanpayment_OPBoleto>
                    <files>
                        <default>Oceanpayment_OPBoleto.csv</default>
                    </files>
                </Oceanpayment_OPBoleto>
            </modules>
        </translate>
        <layout>
            <updates>
                <opboleto>
                    <file>opboleto.xml</file>
                </opboleto>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Oceanpayment_OPBoleto>
                    <files>
                        <default>Oceanpayment_OPBoleto.csv</default>
                    </files>
                </Oceanpayment_OPBoleto>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <oceanpayment_boleto>
                  <model>opboleto/payment</model>
                  <title>Boleto</title>
                  <allowspecific>0</allowspecific>
                  <transaction_type>0</transaction_type>
            </oceanpayment_boleto>
        </payment>
    </default>
</config>
